# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables (chứa mật khẩu & secret keys)
.env

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db